# Dependency / vendor 
vendor/

# Config
config/config.php

# Upload file 
uploads/
public/uploads/

# Cache / log
*.log

# OS junk
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

composer.lock
composer.json